# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Microcontroller/MCS51/Clock59/obj/Release/main.obj
Microcontroller/MCS51/Clock59/main.LST
*.OMF
*.M51
*.hex
*.cbp
*.iml
*.xml
*.layout
*.exe
*.o
*.o
*.LST
Microcontroller/MCS51/PCA9685driver/obj/Release/main.obj
*.obj
Microcontroller/MCS51/SERVO/SERVO.depend
*.depend
*.axf
Microcontroller/STM32/FirstAsm/FirstAsm.build_log.htm
*.map
Microcontroller/STM32/FirstAsm/FirstAsm.lnp
*.d
Microcontroller/STM32/FirstAsm/FirstAsm.uvgui.Kook
*.uvproj
Microcontroller/STM32/FirstAsm/FirstAsm.uvopt
*.bak

Others/HeiBao

Others/geckodriver\.log

Others/LanguageS/SVM/svm

Others/GOLSimulator/build-GOLSimulator-Desktop_Qt_5_7_0_GCC_64bit-Debug/Makefile

Others/GOLSimulator/build-GOLSimulator-Desktop_Qt_5_7_0_GCC_64bit-Release/

Others/GOLSimulator/GOLSimulator/GOLSimulator\.pro\.user

Others/GOLSimulator/build-GOLSimulator-Desktop_Qt_5_7_0_GCC_64bit-Profile/

Others/gcc_asm

Others/pthreadReview

Planguage/PVM

Planguage/PAssembler

Others/test_file_recursive

*.pe

Others/testSignal

Others/test_float_input

Planguage/PCompiler

bison/a

Planguage/Compiler/lexer

Planguage/Compiler/Compiler_V0\.1

Planguage/Compiler/example\.procs

Others/pinglun\.sql

Others/yonghu\.sql
